/* FoodFacts.css */

.food-fact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}
.left {
  flex: 1;
  max-width: 30%;
  padding: 20px;
  margin:20px;
}

.carousel {
  text-align: center;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

.right {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  background-colonr: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.food-fact h2 {
  font-size: 24px;
  color: #333;
}

.food-fact p {
  font-size: 18px;
  color: #666;
}

.button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}
.dis{
  /* position: relative;
  left:70%;
  bottom:30%; */
  text-align: center;
  width:100%;
  vertical-align: bottom;
  font-size: 70px;
   font-family: var(--font-family1);
  
}